<% include ../partials/header %> 


     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To HotelReviewer!</h1>
             <p id="leadin">View the residents' remarks on hotels around the world.</p>
             <p>
                
             </p>
             
             <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div id="search-outer" class="form-group">
                        
                        <input id="search-form" type="text" name="search" placeholder="Search Hotel..." class="form-control">
                        <button><i id="white-background" class="fas fa-search fa-lg"></i></button>
                        <!--<input type="submit" value="Search" class="btn btn-default">-->
                        <a id="addhotel" class="btn btn-primary btn-large bad-font" href="/campgrounds/new">Add New Hotel</a>
                    </div>
                </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img  href="/campgrounds/<%= campground._id %>" src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary bad-font">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>


<% include ../partials/footer %>
